---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {% assign newest_post = site.posts.first %}
{% for post in site.posts %}
  {% if post == newest_post %}
    [ new ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  {% else %}
    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  {% endif %}
{% endfor %}
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
